* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#list-of-results li {
    padding: 18px 0;
    list-style: none;
    border-bottom: 1px solid #8D9896;
    font-size: 23px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.search-wrapper {
    margin-top: 50px;
}

.card {
    background-image: linear-gradient(to bottom right, white, lightgray);
    border-radius: 10px;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 1);
    margin: 30px;
    padding: 20px 40px 25px;
    min-height: 90%;
    transition-timing-function: linear;
    /*z-index: 1;*/
}